In [99]:
import warnings
import pandas as pd
import os
import re
from datetime import datetime
import numpy as np
warnings.filterwarnings('ignore')
%matplotlib inline
#https://discord.com/channels/1134059900666916935/1283610000484208670
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.manifold import TSNE

In [100]:
# Define input and output folders
input_folder = "data/txt"
output_folder = "data/output"
file_paths = [os.path.join(input_folder, file) for file in os.listdir(input_folder) if file.endswith(".txt")]

# Ensure the output folder exists
os.makedirs(output_folder, exist_ok=True)

# Job dictionary and spec ranges
job_dict = {
    "허": "허밋", "시프": "시프", "썬": "썬콜", "불독": "불독",
    "프": "프리스트", "레": "레인저", "저": "저격수",
    "용": "용기사", "크": "크루세이더", "나": "나이트"
}
job_spec_ranges = {
    "용": (3000, 9000), "크": (2000, 9000), "나": (2000, 9000),
    "허": (1500, 4000), "시프": (1500, 5000), "썬": (500, 1200),
    "불독": (500, 1200), "프": (500, 1200), "레": (2000, 9000),
    "저": (2000, 9000)
}
level_min, level_max = 80, 190

# Regex patterns
time_pattern = r"(오전|오후) \d{1,2}:\d{2}"
job_pattern = r"(\d{2,3})\s?(" + "|".join(job_dict.keys()) + r")"
spec_pattern = r"(\d{3,4})"
map_pattern = r"(망용둥|위둥|남둥|큰둥|와협|블와둥|협동|레와둥|붉켄|검켄|푸켄|불어전|물어전|오징어|깊바협|망둥쩔|듀파|듀미굴|갈림길|산양|하둥)"

In [108]:
def extract_level_and_spec(text, job_start, job_end, level_range, spec_range):
    left_text = text[job_start-5 : job_start+5]
    right_text = text[job_end+1 : job_end + 10]
    
    level, spec = None, None

    # Search for level in the left_text
    for match in re.finditer(r"\d{2,3}", left_text[::-1]):  # Reverse for easier parsing
        num = int(match.group()[::-1])  # Reverse back the number
        if level_range[0] <= num <= level_range[1]:
            level = num
            break

    # Search for spec in the right_text
    for match in re.finditer(r"\d{3,4}", right_text):
        num = int(match.group())
        if spec_range[0] <= num <= spec_range[1]:
            spec = num
            break

    return level, spec

In [102]:
def collect_initial_data(file_path):
    columns = ["party_id", "time", "level", "job", "spec", "map", "date", "valid", "valid_spec"]
    df = pd.DataFrame(columns=columns)

    # Extract date from filename
    month = file_path[-8:-6]
    day = file_path[-6:-4]
    date_from_file = f"2024-{month}-{day}"
    
    party_id = 1
    
    with open(file_path, "r", encoding="utf-8") as file:
        data = file.read()

    blocks = data.split("오늘")
    for block in blocks[1:]:
        time_match = re.search(time_pattern, block)
        time = time_match.group(0) if time_match else None
        map_match = re.search(map_pattern, block)
        map_name = map_match.group(0) if map_match else None

        job_matches = list(re.finditer(job_pattern, block))
        for job_match in job_matches:
            job_short = job_match.group(2)
            job_full = job_dict.get(job_short, "Unknown")

            level, spec = extract_level_and_spec(
                block, job_match.start(), job_match.end(),
                (level_min, level_max), job_spec_ranges.get(job_short, (None, None))
            )
            
            valid = map_name is not None and job_full != "Unknown"

            # print(level, job_full, spec)
            
            # Append new row to DataFrame
            df = pd.concat([
                df,
                pd.DataFrame([{
                    "party_id": party_id,
                    "time": time,
                    "level": level,
                    "job": job_full,
                    "spec": spec,
                    "map": map_name,
                    "date": date_from_file,
                    "valid": valid,
                    "valid_spec": None
                }])
            ], ignore_index=True)

        party_id += 1

    # Remove if level is NaN
    df = df.dropna(subset=['level'])
    # Remove duplicates
    df = df.drop_duplicates(subset=["map", "level", "job", "spec"], keep="first")

    #스펙 결측치 처리
    # Step 1: Calculate spec_by_level, handling NaN values for spec and level
    df["spec_by_level"] = df.apply(
        lambda row: row["spec"] / row["level"] if pd.notna(row["spec"]) and pd.notna(row["level"]) else None,
        axis=1
    )
    
    # Step 2: Calculate average spec_by_level by job
    avg_spec_by_level = df.groupby("job")["spec_by_level"].mean().rename("avg_spec_by_level")
    
    # Step 3: Merge the avg_spec_by_level back into the dataframe
    df = df.merge(avg_spec_by_level, on="job", how="left")
    
    # Step 4: Fill NaN in spec_by_level with the average spec_by_level for the job
    df["spec_by_level"].fillna(df["avg_spec_by_level"], inplace=True)
    
    # Step 5: Determine spec_valid based on 20% margin from avg_spec_by_level
    def is_spec_valid(row):
        if pd.notna(row["spec"]):  # Only proceed if spec is not NaN
            if pd.notna(row["spec_by_level"]) and pd.notna(row["avg_spec_by_level"]):
                lower_bound = 0.8 * row["avg_spec_by_level"]
                upper_bound = 1.2 * row["avg_spec_by_level"]
                return lower_bound <= row["spec_by_level"] <= upper_bound
        return False  # Return False if spec is NaN or not within the range
    
    # Step 6: Apply the is_spec_valid function to the dataframe
    df["valid_spec"] = df.apply(is_spec_valid, axis=1)
    
    # Step 7: Create spec_filled: if spec is NaN, fill with level * avg_spec_by_level, else keep spec as is
    df["spec_filled"] = df.apply(
        lambda row: row["spec"] if pd.notna(row["spec"]) else (
            row["level"] * row["avg_spec_by_level"] if pd.notna(row["level"]) and pd.notna(row["avg_spec_by_level"]) else None
        ),
        axis=1
    )
    
    # Step 8: Calculate the average distance between spec and avg_spec_by_level for each job
    df["spec_distance"] = df.apply(
        lambda row: abs(row["spec"] - row["avg_spec_by_level"]) if pd.notna(row["spec"]) and pd.notna(row["avg_spec_by_level"]) else None,
        axis=1
    )
    
    # Step 9: Calculate the average distance for each job
    job_avg_distances = df.groupby("job")["spec_distance"].mean().rename("avg_distance_per_job")
    
    # Step 10: Merge the average distance per job back into the dataframe
    df = df.merge(job_avg_distances, on="job", how="left")

    JITTER_PERCENTAGE = 0.03
    # Step 11: Apply jitter based on the average distance per job
    # Apply jitter ONLY if spec_filled is created (i.e., spec is NaN)
    df["spec_filled"] = df.apply(
    lambda row: row["spec_filled"] + np.random.uniform(-row["spec_filled"] * JITTER_PERCENTAGE, row["spec_filled"] * JITTER_PERCENTAGE)
    if pd.isna(row["spec"]) and pd.notna(row["spec_filled"]) else row["spec_filled"],  # Apply jitter only when spec is missing
    axis=1
    )
 
    output_file = os.path.join(output_folder, os.path.basename(file_path).replace('.txt', '.csv'))
    df.to_csv(output_file, index=False)
    print(f"Data saved as {output_file}")
    return df

In [103]:
def process_data(df, file_path):
    """
    Filters and processes data to save only rows where valid and valid_spec are True.
    """
    # Filter rows where both 'valid' and 'valid_spec' are True
    processed_df = df[(df["valid"]) & (df["valid_spec"])]

    # Save the processed DataFrame to a CSV file
    processed_output_file = os.path.join(output_folder, os.path.basename(file_path).replace('.txt', '_processed.csv'))
    processed_df.to_csv(processed_output_file, index=False)

    print(f"Processed valid data saved as {processed_output_file}")
    return processed_df

In [109]:
def drop_level_outlier(df, level_percentile=99.99):
    # Filter out rows where 'level' is NaN
    df_level_not_na = df[df['level'].notna()]

    # Calculate the upper and lower level thresholds
    upper_level_threshold = np.percentile(df_level_not_na['level'], level_percentile)  # Top x% threshold
    lower_level_threshold = np.percentile(df_level_not_na['level'], 100 - level_percentile)  # Bottom x% threshold

    # Identify the outliers: those that are above the upper threshold or below the lower threshold
    outliers = df_level_not_na[(df_level_not_na['level'] >= upper_level_threshold) | (df_level_not_na['level'] <= lower_level_threshold)]

    # Print the thresholds and outliers for verification
    print(f"Upper level threshold (top {level_percentile}%): {upper_level_threshold}")
    print(f"Lower level threshold (bottom {100 - level_percentile}%): {lower_level_threshold}")
    print("Level Outliers:")
    print(outliers)

    # Drop the outliers from the original dataframe
    df = df.drop(outliers.index)

    return df

In [131]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE
from sklearn.neighbors import NearestNeighbors
import numpy as np
import pandas as pd

# Step 1: Preprocess the data for t-SNE
def preprocess_data_for_tsne(df, numerical_features=["level", "spec_filled"], categorical_features=["job", "map"]):
    """
    Preprocesses the data for t-SNE:
    - Encodes categorical features (e.g., job, map).
    - Imputes missing values for numerical features (not filling with 0).
    - Normalizes numerical features.
    """
    # One-Hot Encode categorical features (e.g., job, map)
    encoder = OneHotEncoder(sparse_output=False, handle_unknown="ignore")
    encoded_cats = encoder.fit_transform(df[categorical_features])
    encoded_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out(categorical_features))

    # Impute missing values for numerical columns with the mean (instead of filling with 0)
    imputer = SimpleImputer(strategy='mean')
    df[numerical_features] = imputer.fit_transform(df[numerical_features])  # Impute missing numerical values

    # Normalize numerical features (including spec_filled)
    scaler = StandardScaler()
    normalized_nums = scaler.fit_transform(df[numerical_features])
    normalized_df = pd.DataFrame(normalized_nums, columns=numerical_features)

    # Combine numerical and categorical features
    combined_df = pd.concat([normalized_df, encoded_df], axis=1)
    return combined_df

# Step 2: Apply t-SNE to the data
def apply_tsne(df, perplexity=30, learning_rate=200, n_iter=1000):
    """
    Apply t-SNE to the dataset and return the 2D results.
    """
    # Preprocess the data
    processed_data = preprocess_data_for_tsne(df)

    # Apply t-SNE
    tsne = TSNE(n_components=2, perplexity=perplexity, learning_rate=learning_rate, n_iter=n_iter, random_state=42)
    tsne_results = tsne.fit_transform(processed_data)

    # Add t-SNE results to the DataFrame
    df["tsne_dim1"] = tsne_results[:, 0]
    df["tsne_dim2"] = tsne_results[:, 1]

    return df

# Step 3: Identify outliers based on t-SNE results and filter the top 0.1%
def filter_outliers_by_tsne(df, top_percentile=99.9):
    """
    Filter out the top n% (e.g., 0.1%) outliers based on t-SNE distance.
    """
    # Using NearestNeighbors to compute distances between points
    neighbors = NearestNeighbors(n_neighbors=2)  # Find the closest point (itself + 1 neighbor)
    neighbors.fit(df[["tsne_dim1", "tsne_dim2"]])
    distances, _ = neighbors.kneighbors(df[["tsne_dim1", "tsne_dim2"]])

    # Calculate the distance from the nearest neighbor
    df["distance_to_nearest"] = distances[:, 1]  # distance to the second nearest (ignoring self)

    # Calculate the threshold for the top n% outliers
    distance_threshold = np.percentile(df["distance_to_nearest"], top_percentile)
    print(f"Filtering out the top {top_percentile}% outliers with distance greater than {distance_threshold}")

    # Identify the outliers (rows that are filtered out)
    outliers = df[df["distance_to_nearest"] > distance_threshold]
    
    # Filter out the outliers from the original df
    df_filtered = df[df["distance_to_nearest"] <= distance_threshold]

    return df_filtered, outliers

# Example usage:
def apply_tsne_oulier_drop(df, top_percentile=99.9):
    df_with_tsne = apply_tsne(df)  # Apply t-SNE
    df_filtered, outliers = filter_outliers_by_tsne(df_with_tsne, top_percentile=99.9)  # Filter out top 0.1% outliers
    df = df.drop(outliers.index)
    print("tsne outliers:", outliers)
    return df

In [133]:
def process_files(file_paths, output_folder):
    all_raw_data = []
    all_processed_data = []

    # Ensure the output folder exists
    os.makedirs(output_folder, exist_ok=True)

    for file_path in file_paths:
        # Collect initial raw data
        raw_df = collect_initial_data(file_path)

        # Process and filter valid data
        processed_df = process_data(raw_df, file_path)

        all_raw_data.append(raw_df)
        all_processed_data.append(processed_df)

    # Combine all raw DataFrames
    combined_raw_df = pd.concat(all_raw_data, ignore_index=True)
    combined_processed_df = pd.concat(all_processed_data, ignore_index=True)

    # level outlier drop
    combined_raw_df = drop_level_outlier(combined_raw_df, level_percentile=99.99)
    combined_processed_df = drop_level_outlier(combined_processed_df, level_percentile=99.999)
    
    # tsne outlier drop
    # combined_raw_df = apply_tsne_oulier_drop(combined_raw_df, top_percentile=99.99)
    # combined_processed_df = apply_tsne_oulier_drop(combined_processed_df, top_percentile=99.999)
    
    # Save the combined DataFrames
    combined_raw_output = os.path.join(output_folder, "df.csv")
    combined_processed_output = os.path.join(output_folder, "processed_df.csv")

    combined_raw_df.to_csv(combined_raw_output, index=False)
    combined_processed_df.to_csv(combined_processed_output, index=False)

    print(f"Combined raw data saved as '{combined_raw_output}'")
    print(f"Combined processed data saved as '{combined_processed_output}'")

    return combined_raw_df, combined_processed_df

In [127]:
# Process files and save results
df, processed_df = process_files(file_paths, output_folder)

Data saved as data/output/1219.csv
Processed valid data saved as data/output/1219_processed.csv
Data saved as data/output/1218.csv
Processed valid data saved as data/output/1218_processed.csv
Data saved as data/output/1220.csv
Processed valid data saved as data/output/1220_processed.csv
Data saved as data/output/1221.csv
Processed valid data saved as data/output/1221_processed.csv
Data saved as data/output/1213.csv
Processed valid data saved as data/output/1213_processed.csv
Data saved as data/output/1212.csv
Processed valid data saved as data/output/1212_processed.csv
Data saved as data/output/1211.csv
Processed valid data saved as data/output/1211_processed.csv
Data saved as data/output/1215.csv
Processed valid data saved as data/output/1215_processed.csv
Data saved as data/output/1214.csv
Processed valid data saved as data/output/1214_processed.csv
Data saved as data/output/1216.csv
Processed valid data saved as data/output/1216_processed.csv
Data saved as data/output/1217.csv
Processed valid data saved as data/output/1217_processed.csv
Upper level threshold (top 99.99%): 176.9526999999989
Lower level threshold (bottom 0.010000000000005116%): 80.0
Level Outliers:
     party_id      time level   job  spec  map        date valid  valid_spec  \
354       198   오후 9:10    80    허밋  None  망용둥  2024-12-19  True       False
1339      228   오후 4:38    80  프리스트  None  망둥쩔  2024-12-12  True       False
1498      100   오후 1:16    80   나이트  None   하둥  2024-12-11  True       False
1635      285   오후 1:37   178  프리스트  1100   큰둥  2024-12-11  True        True
2558      188  오전 12:46    80    썬콜  None   하둥  2024-12-16  True       False

      spec_by_level  avg_spec_by_level  spec_filled  spec_distance  \
354       18.446821          18.446821  1443.343298            NaN
1339            NaN                NaN          NaN            NaN
1498      30.412222          30.412222  2443.497840            NaN
1635       6.179775           6.206757  1100.000000    1093.793243
2558       6.226383           6.226383   485.386279            NaN

      avg_distance_per_job
354            2415.678179
1339                   NaN
1498           4429.587778
1635            886.793243
2558            804.696694
Upper level threshold (top 99.999%): 177.96807999999965
Lower level threshold (bottom 0.0010000000000047748%): 82.0
Level Outliers:
    party_id     time level    job  spec map        date valid  valid_spec  \
67       131  오후 2:13    82     허밋  1750  붉켄  2024-12-18  True        True
168      285  오후 1:37   178   프리스트  1100  큰둥  2024-12-11  True        True
324      537  오전 1:32    82  크루세이더  2800  듀파  2024-12-16  True        True

     spec_by_level  avg_spec_by_level  spec_filled  spec_distance  \
67       21.341463          18.275360       1750.0    1731.724640
168       6.179775           6.206757       1100.0    1093.793243
324      34.146341          32.285642       2800.0    2767.714358

     avg_distance_per_job
67            2127.109256
168            886.793243
324           3817.596711
Filtering out the top 99.9% outliers with distance greater than 2.336659052064879
tsne outliers:      party_id      time  level  job  spec  map        date valid  valid_spec  \
93         48  오전 12:35    154  용기사  None   큰둥  2024-12-19  True       False
1197        7   오후 4:33    155  용기사  None  갈림길  2024-12-12  True       False
2381       25  오전 12:19    115  용기사  None   검켄  2024-12-16  True       False
3371       89   오후 1:51    100   썬콜  None  망둥쩔  2024-12-17  True       False

      spec_by_level  avg_spec_by_level  spec_filled  spec_distance  \
93        34.726694          34.726694  5463.753953            NaN
1197      34.269116          34.269116  5422.754683            NaN
2381      35.369864          35.369864  4123.425007            NaN
3371       6.223686           6.223686   618.476806            NaN

      avg_distance_per_job  tsne_dim1  tsne_dim2  distance_to_nearest
93             4411.364215  46.990368 -40.892960             2.409720
1197           4049.064217  43.424461 -46.428726             2.768640
2381           4700.830136  27.730511 -40.077702             3.377293
3371            887.776314 -13.374537  -2.127960             3.168028
Filtering out the top 99.9% outliers with distance greater than 2.5237361010752326
tsne outliers:     party_id     time  level  job  spec  map        date valid  valid_spec  \
320      500  오전 1:22    134  저격수  3330  망용둥  2024-12-16  True        True

     spec_by_level  avg_spec_by_level  spec_filled  spec_distance  \
320      24.850746           23.83578       3330.0     3306.16422

     avg_distance_per_job  tsne_dim1  tsne_dim2  distance_to_nearest
320            2628.66422   2.511012  -0.184198               2.7965
Combined raw data saved as 'data/output/df.csv'
Combined processed data saved as 'data/output/processed_df.csv'

In [128]:
df

,party_id,time,level,job,spec,map,date,valid,valid_spec,spec_by_level,avg_spec_by_level,spec_filled,spec_distance,avg_distance_per_job,tsne_dim1,tsne_dim2,distance_to_nearest
0,1,오전 12:33,88,허밋,None,붉켄,2024-12-19,True,False,18.446821,18.446821,1595.775497,NaN,2415.678179,-5.573237,-14.184074,0.304788
1,1,오전 12:33,101,레인저,None,붉켄,2024-12-19,True,False,22.312474,22.312474,2237.914296,NaN,2402.687526,-11.154509,-29.506716,0.016239
2,2,오전 12:33,90,허밋,None,붉켄,2024-12-19,True,False,18.446821,18.446821,1702.099570,NaN,2415.678179,-4.529997,-14.215377,0.026760
3,2,오전 12:33,99,허밋,None,붉켄,2024-12-19,True,False,18.446821,18.446821,1795.018848,NaN,2415.678179,-1.381503,-12.813734,0.097611
4,2,오전 12:33,105,썬콜,650,붉켄,2024-12-19,True,True,6.190476,6.212019,650.000000,643.787981,793.121314,-26.065950,-22.061752,0.027201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3536,292,오후 1:59,143,용기사,5000,블와둥,2024-12-17,True,True,34.965035,35.282984,5000.000000,4964.717016,4940.217016,45.111485,-35.053547,0.018906
3537,297,오후 1:59,119,프리스트,None,검켄,2024-12-17,True,False,6.320755,6.320755,752.492840,NaN,663.679245,-51.676022,35.807945,0.027436
3538,297,오후 1:59,134,프리스트,None,검켄,2024-12-17,True,False,6.320755,6.320755,864.419570,NaN,663.679245,-48.186962,40.511139,0.197558
3539,300,오후 1:59,123,프리스트,None,None,2024-12-17,False,False,6.320755,6.320755,760.973656,NaN,663.679245,-38.705799,14.137511,0.041089
3540,301,오후 1:59,112,허밋,None,검켄,2024-12-17,True,False,18.956725,18.956725,2160.594610,NaN,2502.176609,11.606951,11.125359,0.221518

In [129]:
processed_df

,party_id,time,level,job,spec,map,date,valid,valid_spec,spec_by_level,avg_spec_by_level,spec_filled,spec_distance,avg_distance_per_job,tsne_dim1,tsne_dim2,distance_to_nearest
0,2,오전 12:33,105,썬콜,650,붉켄,2024-12-19,True,True,6.190476,6.212019,650.0,643.787981,793.121314,-21.927694,13.199575,0.173588
1,2,오전 12:33,118,썬콜,726,붉켄,2024-12-19,True,True,6.152542,6.212019,726.0,719.787981,793.121314,-22.330854,13.415393,0.284696
2,13,오전 12:34,128,불독,795,협동,2024-12-19,True,True,6.210938,6.210938,795.0,788.789062,788.789062,-19.725958,18.329945,0.148244
3,18,오전 12:34,124,용기사,4200,블와둥,2024-12-19,True,True,33.870968,34.726694,4200.0,4165.273306,4411.364215,27.569923,-16.980835,0.206580
4,34,오전 12:35,144,허밋,2652,망용둥,2024-12-19,True,True,18.416667,18.446821,2652.0,2633.553179,2415.678179,-2.952811,13.475213,0.462273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,260,오후 1:57,106,나이트,3143,듀파,2024-12-17,True,True,29.650943,30.555809,3143.0,3112.444191,2940.944191,7.431334,-15.151710,0.164715
396,260,오후 1:57,89,나이트,2800,듀파,2024-12-17,True,True,31.460674,30.555809,2800.0,2769.444191,2940.944191,7.351911,-15.387248,0.083902
397,263,오후 1:57,106,프리스트,670,불어전,2024-12-17,True,True,6.320755,6.320755,670.0,663.679245,663.679245,-28.984577,10.065437,0.195862
398,263,오후 1:57,107,용기사,3400,불어전,2024-12-17,True,True,31.775701,35.282984,3400.0,3364.717016,4940.217016,28.860945,-11.660034,1.141177
399,292,오후 1:59,143,용기사,5000,블와둥,2024-12-17,True,True,34.965035,35.282984,5000.0,4964.717016,4940.217016,25.486217,-18.538317,0.437545